<!DOCTYPE html>
<html>
    <head>
        {{!-- Document Settings --}}
        <meta charset="UTF-8" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
        <meta name="HandheldFriendly" content="true"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <title>{{meta_title}}</title>

        <link rel="stylesheet" type="text/css" href="{{asset "gitbook/style.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "gitbook/gitbook-plugin-fontsettings/website.css"}}">
        <link rel="stylesheet" type="text/css" href="{{asset "search.css"}}">
        <style type="text/css">
          .hidden{
            display: none;
          }
        </style>
        {{!-- Ghost outputs important style and meta data with this tag --}}
        {{ghost_head}}
    </head>

    <body class="{{body_class}}">

        <div class="book">
            {{#post}}

            <!-- Directory -->
            <div class="book-summary">

                <!-- Search box -->
                <div id="book-search-input" role="search">
                  <form>
                    <input type="text" placeholder="search for" id="search-field">
                  </form>
                </div>

                <nav role="navigation">
                  <ul class="summary">
                    <div id="J-posts"></div>
                    <div id="J-other-posts"></div>
                    <li class="divider"></li>
                    <li>
                      <a class="gitbook-link" target="blank" href="https://github.com/whaios/wwiki">
                        This book is published using wwiki
                        </a>
                    </li>
                  </ul>
                </nav>

                {{!--Get the first Tag in the current article--}}
                {{#foreach tags}}{{#if @first}}
                        
                    {{!-Get all articles under Tag-}}
                    <div id="J-posts-hidden" class="hidden" data-slug="{{slug}}">
                    {{#get "posts" filter="tags:[{{slug}}]" order="slug asc" }}
                    {{#foreach posts}}
                        <li class="chapter J-post" data-slug="{{slug}}">
                            <a href="/{{slug}}/">{{title}}</a>
                        </li>
                    {{/foreach}}
                    {{/get}}
                    </div>
                    {{!--End Get all articles under Tag--}}

                {{/if}}{{/foreach}}
            </div>

            <!-- Article content area -->
            <div class="book-body">
                <div class="body-inner">
                    <!-- Head area -->
                    <div class="book-header" role="navigation">
                        <h1 style="opacity: 1;">
                            <i class="fa fa-circle-o-notch fa-spin"></i>
                            <a href="#">{{title}}</a>
                        </h1>
                    </div>

                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <!-- class=open display query results, otherwise display article content -->
                            <div id="book-search-results">
                                <div class="search-noresults">                                    
                                    <section class="normal markdown-section">
                                        {{content}}
                                    </section>
                                </div>

                                <div class="search-results">
                                    <ul class="search-results-list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            {{/post}}

            <script>
                var gitbook = gitbook || [];
                gitbook.push(function() {
                    gitbook.page.hasChanged({
                        "page": {
                            "title": "{{meta_title}}"
                        },
                        "config": {
                            "gitbook": "*",
                            "theme": "default",
                            "variables": {},
                            "plugins": [],
                            "pluginsConfig": {
                                "highlight": {},
                                "fontsettings": {
                                    "theme": "white",
                                    "family": "sans",
                                    "size": 2
                                }
                            }
                        },
                        "file": {},
                        "gitbook": {
                            "version": "3.2.3"
                        },
                        "basePath": ".",
                        "book": {
                            "language": ""
                        }
                    });
                });
            </script>
        </div>

        <script src="{{asset "gitbook/gitbook.js"}}"></script>
        <script src="{{asset "gitbook/theme.js"}}"></script>
        <script src="{{asset "gitbook/gitbook-plugin-fontsettings/fontsettings.js"}}"></script>

        <script src="{{asset "js/jquery-3.2.1.min.js"}}"></script>
        <script src="{{asset "js/blog-tree.js"}}"></script>
        <script src="{{asset "plugin/jquery.ghosthunter.js"}}"></script>
        <script src="{{asset "js/search.js"}}"></script>

        {{ghost_foot}}
    </body>
</html>
